body{
 background-image:url(https://images8.alphacoders.com/135/1354012.png);
 width: auto;
 height: auto;
}
.skill-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75hv;
}
.center-header{
    text-align: center;
}
p{
    font-family: Chakra Petch;
  }
h1{
    font-family: Chakra Petch;
}
h2{
    font-family: Chakra Petch;
}
h3{
    font-family: Chakra Petch;
    font-weight: 300;
}
h4{
    font-family: Chakra Petch;
}
h5{
    font-family: Chakra Petch;
}