body{
 background-image:url(https://images8.alphacoders.com/135/1354012.png);
 width: auto;
 height: auto;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skill-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75hv;
}
.center-header{
    text-align: center;
}
